*.csv
*.json
*.xlsx
chromadb/chroma.sqlite3
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/data_level0.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/header.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/length.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/link_lists.bin
articles_chunks.json
test_notebook.ipynb
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/index_metadata.pickle
.venv/pyvenv.cfg
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
2025_test_scrip_1_rag_llama_index.ipynb
2025_scrip_1_rag_llama_index.py
C:\Users\kuzne\Documents\Python_repo\2025_01_dissertation\2025_dissertation\chromadb
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/data_level0.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/header.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/length.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/link_lists.bin
2025_script_1_step_2_call_together_ai_llm.py
chromadb/3ec1dd45-110e-41ef-b729-050fade1d198/data_level0.bin
chromadb/3ec1dd45-110e-41ef-b729-050fade1d198/header.bin
chromadb/3ec1dd45-110e-41ef-b729-050fade1d198/length.bin
chromadb/3ec1dd45-110e-41ef-b729-050fade1d198/link_lists.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/index_metadata.pickle
data/MedQA_no-opt_dataset_with_reasoning.xlsx
data/reviewed_questions/ptsd_filtered_questions_with_ids.xlsx
data/reviewed_questions/ptsd_review_results.txt
data/reviewed_questions/ptsd_reviewed_questions test_with_answers gemini.xlsx
data/reviewed_questions/ptsd_reviewed_questions test.xlsx
data/reviewed_questions/ptsd_reviewed_questions.xlsx
data/2025-05 08.05.25 dataset for classification/MedQA_open_dataset_classified.xlsx
data/2025-05 08.05.25 dataset for classification/MedQA_open_dataset.xlsx
chromadb_huggingfaceembed/chroma.sqlite3
chromadb_huggingfaceembed/2ef81f80-777a-4505-bb80-1e974c46a72b/data_level0.bin
chromadb_huggingfaceembed/2ef81f80-777a-4505-bb80-1e974c46a72b/header.bin
chromadb_huggingfaceembed/2ef81f80-777a-4505-bb80-1e974c46a72b/length.bin
chromadb_huggingfaceembed/2ef81f80-777a-4505-bb80-1e974c46a72b/link_lists.bin
.gitignore
data/2025-05 08.05.25 dataset for classification/MedQA_open_dataset_classified_categories.xlsx
data/2025-05 22.05.25 dataset for evaluation/MedQA_open_dataset_classified.xlsx
data/2025-06 02.06.2025 dataset for evaluation/MedQA_open_dataset_classified.xlsx
chromadb_alternative/chroma.sqlite3
data/2025-06 hybrid search/psychiatry_test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top2_answered.json
data/2025-06 Step 0 Dataset preparation/MedQA_open_dataset_classified_categories.xlsx
data/2025-06 Step 0 Dataset preparation/MedQA_open_dataset_classified_psychiatry_evaluation.json
data/2025-06 Step 0 Dataset preparation/MedQA_open_dataset_classified.xlsx
data/2025-06 Step 0 Dataset preparation/MedQA_open_dataset.xlsx
data/2025-06 Step 0 Dataset preparation/MedQA_open_dataset_classified_psychiatry_evaluation_with_categories.json
data/2025-06 hybrid search/psychiatry_test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top2_answered_vanilla_answer_correctness_evaluated.json
data/2025-06 Step 0 Dataset preparation/test_dataset.json
data/2025-06 Step 0 Dataset preparation/train_dataset.json
data/2025-06 Step 0 Dataset preparation/val_dataset.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered.json
experiments/test_dataset.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_rag_answer_correctness_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_rag_answer_relevancy_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_rag_answer_similarity_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_rag_faithfulness_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_vanilla_answer_correctness_evaluated.json
archive
experiments/test_dataset_together_meta-llama_Llama-4-Scout-17B-16E-Instruct_top5_answered_vanilla_answer_similarity_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Maverick-17B-128E-Instruct-FP8_top5_answered_rag_answer_relevancy_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Maverick-17B-128E-Instruct-FP8_top5_answered_rag_answer_similarity_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Maverick-17B-128E-Instruct-FP8_top5_answered_vanilla_answer_similarity_evaluated.json
experiments/test_dataset_together_meta-llama_Llama-4-Maverick-17B-128E-Instruct-FP8_top5_answered.json
