*.csv
chromadb/chroma.sqlite3
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/data_level0.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/header.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/length.bin
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/link_lists.bin
articles_chunks.json
test_notebook.ipynb
chromadb/2fc40d3e-05aa-44db-b2eb-7236875470fe/index_metadata.pickle
.venv/pyvenv.cfg
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
2025_test_scrip_1_rag_llama_index.ipynb
2025_scrip_1_rag_llama_index.py
C:\Users\kuzne\Documents\Python_repo\2025_01_dissertation\2025_dissertation\chromadb
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/data_level0.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/header.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/length.bin
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/link_lists.bin
2025_script_1_step_2_call_together_ai_llm.py
data/MedQA_no-opt_dataset_with_reasoning.xlsx
data/reviewed_questions/ptsd_filtered_questions_with_ids.xlsx
data/reviewed_questions/ptsd_review_results.txt
data/reviewed_questions/ptsd_reviewed_questions.xlsx
data/reviewed_questions/ptsd_reviewed_questions test.xlsx
chromadb/42f4bc0e-794c-4061-8d68-cd6eda8f9c0b/index_metadata.pickle
